<app-header></app-header>
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li><a ui-sref="properties">Properties</a></li>
    <li class="active">{{s.address}}</li>
  </ul>
</div>
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
  		  <div class="page-header clearfix">
          <div class="col-sm-6">
    			 <h1>{{s.address}}<br> {{s.city}}, CA {{s.zip}}</h1>
          </div>
          <div class="col-sm-6" >
            <div ng-show="isAdmin()" class="edit-property-btn pull-right">
              <a ui-sref="/#!/properties/{{s.pid}}/edit">
                <button id="updatePropertySubmit" class="btn btn-primary" >
                  Edit Property
                </button>
              </a>
              <a ui-sref="/#!/properties/{{s.pid}}/rehab">
                <button class="btn btn-primary">
                  View Rehab Details
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <h5 class="col-sm-4">Status: {{s.status}}</h5>
          <h5 class="col-sm-4">Phase: {{s.phase}}</h5>
          <h5 class="col-sm-4">Type: {{s.property_type}}</h5>
        </div>
  		</div>
      <div class="property-box col-sm-12">
        <div class="row">
          <div class="info-table col-sm-6">
            <div class="section-header">
              <h4><i ng-click="toggle($event)" id="t1-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Property Details</h4>
            </div>
            <div>
              <table id="t1-toggle-table" class="list-details table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-xs-4">County</td> 
                    <td class="col-xs-8">{{s.county}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Beds</td> 
                    <td class="col-xs-8">{{s.beds}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Baths</td> 
                    <td class="col-xs-8">{{s.baths}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Square Feet</td> 
                    <td class="col-xs-8">{{s.sqft}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Lot Size</td> 
                    <td class="col-xs-8">{{s.lotsize}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Year Built</td> 
                    <td class="col-xs-8">{{s.year_built}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Description</td> 
                    <td class="col-xs-8">{{s.listdesc}}</textarea></td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Pool/Spa</td> 
                    <td class="col-xs-8">{{s.pool_spa}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Occupancy Status</td> 
                    <td class="col-xs-8">{{s.occupancy}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Lockbox Combo</td> 
                    <td class="col-xs-8">{{s.lockbox_combo}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Alarm Code</td> 
                    <td class="col-xs-8">{{s.alarm_code}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4" class="col-sm-3">Asset Manager</td> 
                    <td class="col-xs-8">{{s.asset_manager}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="info-table col-sm-6">
            <div class="section-header">
              <h4><i ng-click="toggle($event)" id="t5-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Images</h4>
            </div>
            <div id="t5-toggle-table" class="image-box clearfix">
              <div ng-show="!s.images" class="no-img">
                <i class="glyphicon glyphicon-camera"></i>
                <p>There are no images for this property.</p>
              </div>
              <div ng-show="s.images" id="property-carousel" class="carousel slide">
                <ol class="carousel-indicators">
                  <li ng-repeat="image in s.images" data-target="#property-carousel" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="single-img item" ng-class="{active:$first}" ng-repeat="image in s.images">
                    <img class="img-responsive" ng-hide="!image" ng-src="../../../server/v1/uploads/{{image}}"/>
                  </div>
                </div>
                <a class="left carousel-control" data-target="#property-carousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" data-target="#property-carousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
          		</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="info-table col-sm-6">
            <div class="section-header">
              <h4><i ng-click="toggle($event)" id="t2-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Purchase Information</h4>
            </div>
            <div>
              <table id="t2-toggle-table" class="list-details table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-xs-4">Purchased on:</td> 
                    <td class="col-xs-8">{{s.purchase_close_date}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Purchased Cost</td> 
                    <td class="col-xs-8">{{s.purchase_cost}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Entity Vesting</td> 
                    <td class="col-xs-8">{{s.entity_vesting}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Lender</td> 
                    <td class="col-xs-8">{{s.lender}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Rehab Estimate</td> 
                    <td class="col-xs-8">{{s.rehab_estimate}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">ARV</td> 
                    <td class="col-xs-8">{{s.arv}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="info-table col-sm-6">
            <div class="section-header">
              <h4><i ng-click="toggle($event)" id="t4-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Map</h4>
            </div>
            <div id="t4-toggle-table" class="map">
              <ng-map 
                center="{{s.latlng}}" 
                zoom="12" >
                <marker position="{{s.latlng}}"></marker>
                <custom-marker 
                  position="{{s.latlng}}"
                  title="{{s.address}}, {{s.city}}"
                  centered="true">
                  <div class="map-marker">
                      <p>{{s.address}}, {{s.city}}<br><a class="dir-link" href="https://maps.google.com?q={{s.address}}+{{s.city}}" target="_blank">Get Directions</a></p>
                  </div>
                </custom-marker>
              </ng-map>
            </div>
          </div>
        </div>
        <div class="row">    
          <div class="info-table col-sm-6">
            <div class="section-header">
              <h4><i ng-click="toggle($event)" id="t3-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Listing Information</h4>
            </div>
            <div>
              <table id="t3-toggle-table" class="list-details table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-xs-4">Listed?</td> 
                    <td class="col-xs-8">{{s.is_listed}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Listing Date</td> 
                    <td class="col-xs-8">{{s.listing_date}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Listing Price</td> 
                    <td class="col-xs-8">{{s.list_price}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Escrow Price</td> 
                    <td class="col-xs-8">{{s.escrow_price}}</td>
                  </tr>
                  <tr>
                    <td class="col-xs-4">Sale Close Date</td> 
                    <td class="col-xs-8">{{s.sale_close_date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>    
          </div>
          <!--div class="info-table col-sm-6">
            <div class="section-header">
              <h4 class="comment-header"><i ng-click="toggle($event)" id="t6-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Comments</h4>
              <a class="col-xs-2" ng-click="toggleComments()">See All</a>
            </div>
            <div id="t6-toggle-table">
              <div id="comment-box" class="comments">
                <div class="single-comment" ng-repeat="comment in comments">
                  <div class="meta">
                    <p class="author">{{comment.username}}</p>
                    <p class="time">{{comment.created}}</p>
                  </div>
                  <p class="comment">{{comment.comment}}</p>
                </div>
              </div>
              <form name="newCommentForm" class="form-horizontal" role="form">
                <div class="form-group no-margin">
                  <div class="comment-box clearfix">
                    <textarea id="comment-form" rows="2" cols="50" placeholder="Add A Comment" class="col-xs-9" name="comment" ng-model="newcomment.comment" required></textarea>
                    <button id="form-submit-button" type="submit" class="col-xs-3 btn btn-lg btn-primary" ng-click="newComment(newcomment)" data-ng-disabled="newCommentForm.$invalid">
                      Post
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div--> 
        </div>
      </div>
  </div>
</div>
</div>
<div id="lightbox">
  <div class="comments">
  <i ng-click="toggleComments()" class="glyphicon glyphicon-remove-sign"></i>
    <div class="single-comment" ng-repeat="comment in comments">
      <div class="meta">
        <p class="author">{{comment.username}}</p>
        <p class="time">{{comment.created}}</p>
      </div>
      <p class="comment">{{comment.comment}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>