<div class="row">
  <div class="form-group edit-property-btn col-sm-3">
    <button id="updatePropertySubmit" class="btn btn-success col-xs-12" ng-click="uploadFile();updateProperty(s)">
      Update
    </button>
  </div>
	<div class="form-group edit-property-btn col-sm-9">
		<button class="btn btn-primary col-xs-4" ui-sref="properties.property.new-offer" ui-sref-opts="{reload:true}">
		 Input New Offer
		</button>
		<button class="btn btn-primary col-xs-4" ui-sref="properties.property.offers" ui-sref-opts="{reload:true}">
		 View Offers
		</button>
		<button class="btn btn-primary col-xs-4" ui-sref="properties.property.email" ui-sref-opts="{reload:true}">
		 Create V-Flyer
		</button>
	</div>
</div>
<div class="row">
  	<div class="col-sm-6">
		<div class="section-header">
		    <h4><i ng-click="toggle($event)" id="t3-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Listing Information</h4>
		</div>
	    <table id="t3-toggle-table" class="list-details table table-bordered">
	      <tbody>
	        <tr>
	          <td class="col-xs-4">Listed?</td> 
	          <td class="col-xs-8">
	          	<select class="invisible-form" ng-model="s.is_listed"/>
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
	          </td>
	        </tr>
	        <tr>
	          <td class="col-xs-4">Listing Date</td> 
	          <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.listing_date"/></td>
	        </tr>
	        <tr>
	          <td class="col-xs-4">Listing Price</td> 
	          <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.list_price" format="currency"/></td>
	        </tr>
	        <tr>
              <td class="col-xs-4">Purchase Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.purchase_close_date"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Days Since Purchase</td> 
              <td class="col-xs-8">{{s.dsp}}</td>
            </tr>
            <tr>
              <td class="col-xs-4">FHA Date</td> 
              <td class="col-xs-8">{{s.fha}}</td>
            </tr>
            <tr>
              <td class="col-xs-4">Day On Market</td> 
              <td class="col-xs-8">{{s.dom}}</td>
            </tr>
	        <tr>
	          <td class="col-xs-4">Escrow Price</td> 
	          <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.escrow_price" format="currency"/></td>
	        </tr>
	        <tr>
	          <td class="col-xs-4">Sale Close Date</td> 
	          <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.sale_close_date"/></td>
	        </tr>
	        <tr>
              <td class="col-xs-4" class="col-sm-3">Description</td> 
              <td class="col-xs-8"><textarea rows="8" class="invisible-form" ng-model="s.listdesc"></textarea></td>
            </tr>
	      </tbody>
	    </table>
	</div>
	<div class="col-sm-6">
    <div class="section-header">
        <h4><i ng-click="toggle($event)" id="t4-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Listing Images</h4>
    </div>
      <div id="t4-toggle-table" class="image-box clearfix">
        <div ng-show="!s.listing_images" class="no-img">
          <i class="glyphicon glyphicon-camera"></i>
          <p>There are no images for this listing.</p>
        </div>
        <div ng-show="s.listing_images" id="property-carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li ng-repeat="image in s.listing_images" data-target="#property-carousel" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="single-img item" ng-class="{active:$first}" ng-repeat="image in s.listing_images">
              <img class="img-responsive" ng-hide="!image" ng-src="../../../server/v1/uploads/{{image}}"/>
            </div>
          </div>
          <a class="left carousel-control" data-target="#property-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" data-target="#property-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-5 img-up" for="images">Upload More Images</label>
          <input class="col-sm-7" type="file" id="file" name="file" accept="image/*" file-model="myFile" ng-model="s.images" multiple>
        </div>
      </div>
    </div>
</div>