<form name="propertyUpdate" class="form-horizontal" >
  <div class="row status-controls">      
    <p class="col-sm-3">
      <select class="invisible-form" name="phase" ng-model="s.phase"/>
          <option value="Acquisition">Acquisition</option>
          <option value="Holdover">Holdover</option>
          <option value="Rehab">Rehab</option>
          <option value="Listed">Listed</option>
          <option value="Sale Escrow">Sale Escrow</option>
          <option value="Sold">Sold</option>
          <option value="Withdrawn">Withdrawn</option>
      </select>
    </p>
    <p class="col-sm-3">
      <select class="invisible-form" name="status" ng-model="s.status"/>
          <option value="Active">Active</option>
          <option value="Hold">Hold</option>
          <option value="Closed">Closed</option>
          <option value="Contract">Contract</option>
          <option value="Purchased">Purchased</option>
          <option value="Relocation">Relocation</option>
          <option value="Eviction">Eviction</option>
          <option value="$-4-Keys">$-4-Keys</option>
          <option value="Architectural">Architectural</option>
          <option value="Plan Check">Plan Check</option>
          <option value="Bid">Bid</option>
      </select>
    </p>
    <p class="col-sm-3">
      <select class="invisible-form" name="property_type" ng-model="s.property_type"/>
          <option value="SFR">SFR</option>
          <option value="Condo">Condo</option>
          <option value="Duplex">Duplex</option>
          <option value="Triplex">Triplex</option>
          <option value="Fourplex">Fourplex</option>
          <option value="MFR">MFR</option>
      </select>
    </p>
    <div class="col-sm-3">
      <div class="form-group edit-property-btn pull-right col-xs-6">
        <button id="deleteProperty" class="btn btn-primary btn-danger pull-right col-xs-12" ng-click="deleteProperty(s)">
          Delete
        </button>
      </div>
      <div class="form-group edit-property-btn pull-right col-xs-6">
        <button id="updatePropertySubmit" class="btn btn-primary pull-right col-xs-12" ng-click="uploadFile();updateProperty(s)">
          Update
        </button>
      </div>
    </div>
  </div>
<div id="property-box" class="property-box">
  <div class="row">
    <div class="col-sm-6">
      <div class="image-box clearfix">
        <div ng-show="!s.images" class="no-img">
          <i class="glyphicon glyphicon-camera"></i>
          <p>There are no images for this property.</p>
        </div>
        <div ng-show="s.images" id="property-carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li ng-repeat="image in s.images" data-target="#property-carousel" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="single-img item" ng-class="{active:$first}" ng-repeat="image in s.images">
              <img class="img-responsive" ng-hide="!image" ng-src="../../../server/v1/uploads/{{image}}"/>
              <div >
                <i ng-click="deleteFile(image)" class="img-delete glyphicon glyphicon-remove-sign" ></i>
              </div>
            </div>
          </div>
          <a class="left carousel-control" data-target="#property-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" data-target="#property-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-5 img-up" for="images">Upload More Images</label>
          <input class="col-sm-7" type="file" id="file" name="file" accept="image/*" file-model="myFile" ng-model="s.images" multiple>
        </div>
      </div>
      </div>
      <div class="col-sm-6">
      <div class="map">
        <ng-map 
          center="{{s.latlng}}" 
          zoom="12" >
          <marker position="{{s.latlng}}"></marker>
          <custom-marker 
            position="{{s.latlng}}"
            title="{{s.address}}, {{s.city}}"
            centered="true">
            <div class="map-marker">
                <p>{{s.address}}, {{s.city}}<br><a class="dir-link" href="https://maps.google.com?q={{s.address}}+{{s.city}}" target="_blank">Get Directions</a></p>
            </div>
          </custom-marker>
        </ng-map>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t1-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Property Details</h4>
        </div>
        <table id="t1-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Address</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.address"></td>
            </tr>
            <tr>
              <td class="col-xs-4">City</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.city"></td>
            </tr>
            <tr>
              <td class="col-xs-4">ZIP</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.zip"></td>
            </tr>
            <tr>
              <td class="col-xs-4">County</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.county"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Beds</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.beds"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Baths</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.baths"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Square Feet</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.sqft"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Lot Size</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.lotsize"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Year Built</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.year_built"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Pool/Spa</td> 
              <td class="col-xs-8">
              <select class="invisible-form" name="permits" ng-model="s.pool_spa"/>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">Lockbox Combo</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.lockbox_combo"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Alarm Code</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.alarm_code"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Asset Manager</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.asset_manager"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Supervisor</td> 
              <td class="col-xs-8">
              <select class="invisible-form" name="supervisor" ng-model="s.supervisor"/>
                    <option value="Codrin">Codrin</option>
                    <option value="Armando">Armando</option>
                    <option value="Rodney">Rodney</option>
                    <option value="Jesus">Jesus</option>
                    <option value="Marco">Marco</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">Permits</td> 
              <td class="col-xs-8">
                <select class="invisible-form" name="permits" ng-model="s.permits"/>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t2-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Acquisition</h4>
        </div>
        <table id="t2-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Purchase Price</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.purchase_cost"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Purchase Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.purchase_close_date"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Entity Vesting</td> 
              <td class="col-xs-8">
                <select class="invisible-form" name="entity_vesting" ng-model="s.entity_vesting"/>
                    <option value="SC Inc.">SC Inc.</option>
                    <option value="HEF Inc.">HEF Inc.</option>
                    <option value="NLP Inc.">NLP Inc.</option>
                    <option value="trust">trust</option>
                    <option value="Other">Other</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">Lender</td> 
              <td class="col-xs-8">
                <select class="invisible-form" name="lender" ng-model="s.lender"/>
                    <option value="Spinnaker">Spinnaker</option>
                    <option value="Anchor">Anchor</option>
                    <option value="Doug Carver">Doug Carver</option>
                    <option value="Other">Other</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">ARV</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.arv"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t3-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Holdover</h4>
        </div>
        <table id="t3-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Occupancy Status</td> 
              <td class="col-xs-8">
                <select class="invisible-form" name="occupancy" ng-model="s.occupancy"/>
                    <option value="Vacant">Vacant</option>
                    <option value="Owner">Owner</option>
                    <option value="Tenants">Tenants</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">Status</td> 
              <td class="col-xs-8">
                <select class="invisible-form" name="holdover_status" ng-model="s.holdover_status"/>
                    <option value="Eviction">Eviction</option>
                    <option value="Relocation">Relocation</option>
                    <option value="$-4-Keys">$-4-Keys</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="col-xs-4">Notice Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.notice_date"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Est. Possession</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.est_possession"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t5-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Listed</h4>
        </div>
        <table id="t5-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Listing Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.listing_date"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Listing Price</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.list_price"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t7-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Sale Details</h4>
        </div>
        <table id="t7-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Sale Price</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.sale_price"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Length of Ownership</td> 
              <td class="col-xs-8">{{s.length_of_own}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t4-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Rehab</h4>
        </div>
        <table id="t4-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Estimated Cost</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.rehab_estimate"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Total Accrued Cost</td> 
              <td class="col-xs-8">{{s.rehab_accrued}}</td>
            </tr>
            <tr>
              <td class="col-xs-4">Start Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.rehab_start"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Estimated Completion</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.est_completion"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Project Length</td> 
              <td class="col-xs-8">{{s.rehab_length}}</td>
            </tr>
            <tr>
              <td class="col-xs-4">Days Lapsed</td> 
              <td class="col-xs-8">{{s.rehab_days_lapsed}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="t6-toggle" class="glyphicon glyphicon-minus table-toggle"></i>Sale Escrow</h4>
        </div>
        <table id="t6-toggle-table" class="list-details table table-bordered">
          <tbody>
            <tr>
              <td class="col-xs-4">Escrow Price</td> 
              <td class="col-xs-8"><input class="invisible-form" type="text" ng-model="s.escrow_price"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Offer Acceptance</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.offer_accept"></td>
            </tr>
            <tr>
              <td class="col-xs-4">Days in Escrow</td> 
              <td class="col-xs-8">{{s.escrow_days}}</td>
            </tr>
            <tr>
              <td class="col-xs-4">Sale Close Date</td> 
              <td class="col-xs-8"><input class="invisible-form" type="date" ng-model="s.sale_close_date"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <comment-box></comment-box>
    </div>
  </div>
</form>