<app-header></app-header>
<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li><a ui-sref="properties">Properties</a></li>
    <li><a ui-sref="properties.property.dashboard">{{s.address}}</a></li>
    <li><a ui-sref="properties.property.bids">Bids</a></li>
    <li class="active">Bid Submission # {{submitted.id}}</li>
  </ul>
</div>
<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
  		  <div class="page-header clearfix">
          <div class="col-sm-6">
    			 <h1>Submitted Bid</h1>
           <h4>{{s.address}}</h4>
          </div>
        </div>
  		</div>
  </div>
</div>
</div>
<app-footer></app-footer>