<app-header></app-header>
<!-- Dashboard Template -->
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li class="active">Settings</li>
    </ul>
</div>
<div class="page-content">
    <div class="container">
        <div class="row view-settings">
            <div class="col-sm-9">
                <div class="row">
                    <h4>Pro Forma Defaults</h4>
                    <div class="form-horizontal">
                        <div class="form-group" ng-repeat="(k,v) in prodef">
                            <label class="col-sm-4 control-label no-padding-right" for="{{k}}"><h5>{{k}}</h5></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="{{k}}" name="{{k}}" ng-model="v" ng-change="changeProformaDefault(k,v)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div id="user-box" class="user-box">
                    <div>
                        <div>
                        <h4>{{user.name}}</h4>
                        <ul>
                            <li>Email: {{user.email}}</li>
                            <li>Phone: {{user.phone}}</li>
                        </ul>
                        <p><a ui-sref="add-user"><button class="btn btn-primary">Add a New User</button></a></p>
                        <p><button class="btn btn-secondary" ng-click="logout()">Logout</button></p>
                        </div>
                    </div>
                </div>
                <div class="settings">
                    <h4 class="page-header">Column Visibility Settings</h4>
                    <div class="row" ng-repeat="column in columns">
                        <div class="col-xs-9">
                            <h5>{{column.displayName}}</h5>
                        </div>
                        <div class="col-xs-3">
                            <div class="onoffswitch pull-right">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{$index}}" checked ng-model="column.visible" ng-change="hideColumn(column,user.uid)" >
                                <label class="onoffswitch-label" for="myonoffswitch{{$index}}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>