<div class="row">
  <div class="form-group listing-btn col-sm-3">
    <button class="btn btn-primary" ui-sref="properties.property.listing" ui-sref-opts="{reload:true}">
     <i class="glyphicon glyphicon-arrow-left"></i> Back To Listing
    </button>
  </div>
  <div class="form-group listing-btn col-sm-3">
    <button class="btn btn-primary" ui-sref="properties.property.new-offer" ui-sref-opts="{reload:true}">
     Input New Offer
    </button>
  </div>
  <div class="form-group listing-btn col-sm-3">
    <button class="btn btn-primary active" ui-sref="properties.property.offers" ui-sref-opts="{reload:true}">
     View Offers
    </button>
  </div>
  <div class="form-group listing-btn col-sm-3">
    <button class="btn btn-primary" ui-sref="properties.property.email" ui-sref-opts="{reload:true}">
     Create V-Flyer
    </button>
  </div>
</div>
<div class="page-content">
	<div class="page-header row">
		<h1 class="col-sm-5">Offers for {{s.address}}</h1>
		<h4 class="col-sm-3">Commission: {{proforma.commission_percent}}%</h4>
	</div>
  <br>
	<div ng-hide="offers == null || offers.length == 0" class="offers table-responsive row">
		<table class="table table-striped header-fixed table-hover">
			<thead>
				<tr>
					<th><p class="small-caps">#</p></th>
					<th ng-repeat="column in columns  track by $index"><p class="small-caps">{{column}}</p></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="editOffer(offer.offer_id)" ng-right-click="getOfferId(offer.offer_id)" menu-items="menuItems" ng-repeat="offer in offers track by $index" class="{{offer.accept}}">
					<td>{{$index + 1}}</td>
					<td>{{offer.buyer}}</td>
					<td>{{offer.financing}}</td>
					<td>{{offer.closing}}</td>
					<td>{{offer.deposit | currency:'$':0}}</td>
					<td>{{offer.offer_price | currency:'$':0}}</td>
					<td>{{offer.commission | currency:'$':0}}</td>
					<td>{{offer.closing_costs | currency:'$':0}}</td>
					<td>{{offer.counter | currency:'$':0}}</td>
					<td>{{offer.hoa | currency:'$':0}}</td>
					<td>{{offer.home_warranty | currency:'$':0}}</td>
					<td>{{offer.net_offer | currency:'$':0}}</td>
					<td>{{offer.title}}</td>
					<td>{{offer.escrow}}</td>
					<td>{{offer.termite}}</td>
					<td>{{offer.nhd}}</td>
					<td>{{offer.septic}}</td>
					<td>{{offer.co_fees}}</td>
					<td>{{offer.city_fees}}</td>
					<td>{{offer.fico}}</td>
					<td>{{offer.pof}}</td>
					<td>{{offer.other_terms}}</td>
					<td>{{offer.notes}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row" ng-show="offers == null || offers.length == 0">
		<h4 class="col-sm-6 col-sm-offset-1">There are currently no offers on this property.</h4>
	</div>
</div>
