<i id="info-box-switch" ng-click="toggleInfoBox()" class="glyphicon glyphicon-circle-arrow-right flip"></i>
<div id="info-box" class="add-info">
	<div class="row" ng-repeat="property in filteredProperties = (properties | pidFilter: addInfo)" ng-show="property">
	    <div class="row">
	    	<h4>Sold Details: {{property.address}}</h4>
	    	<div class="col-sm-7 infobox-titles">
			  <ul>
				<li>Purchase Date:</li>
				<li>Sale Date:</li>
				<li>Purchase Price:</li>
				<li>After Repair Value (ARV):</li>
				<li>Sale Price:</li>
				<li>Ownership Length:</li>
			  </ul>
		   </div>
		   <div class="col-sm-5">
			  <ul>
				<li>{{property.purchase_close_date || 'Not Defined'}}</li>
				<li>{{property.sale_close_date || 'Not Defined'}}</li>
				<li>{{property.purchase_cost || 'Not Defined'}}</li>
				<li>{{property.arv || 'Not Defined'}}</li>
				<li>{{property.sale_price || 'Not Defined'}}</li>
                <li>{{property.length_of_own || 'Not Defined'}}</li>
			  </ul>
		   </div>
	    </div>
        <a ng-click="linkToSingle(property)">
		   <button class="btn btn-primary">View Property</button>
        </a>
	</div>
</div>