<i id="info-box-switch" ng-click="toggleInfoBox()" class="glyphicon glyphicon-circle-arrow-right flip"></i>
<div id="info-box" class="add-info">
	<div class="row" ng-repeat="property in filteredProperties = (properties | pidFilter: addInfo)" ng-show="property">
	    <div class="row">
	    <h4>Rehab Details: {{property.address}}</h4>
		   <div class="col-sm-7 infobox-titles">
		   	<ul>
				<li>Rehab Estimate:</li>
				<li>Rehab Cost Accrued:</li>
				<li>Start Date:</li>
				<li>Completion Date:</li>
				<li>Project Length:</li>
				<li>Days Lapsed:</li>
			  </ul>
		   </div>
		   <div class="col-sm-5">
			  <ul>
				<li>{{property.rehab_estimate}}</li>
				<li>{{property.rehab_accrued | currency:'$':0}}</li>
				<li>{{property.rehab_start || 'Not Defined'}}</li>
				<li>{{property.est_completion || 'Not Defined'}}</li>
				<li>{{property.rehab_length || 'Not Defined'}}</li>
                <li>{{property.rehab_days_lapsed || 'Not Defined'}}</li>
			  </ul>
		   </div>
	    </div>
        <a ng-click="linkToSingle(property)">
		   <button class="btn btn-primary">View Rehab Details</button>
        </a>
	</div>
</div>