<i id="info-box-switch" ng-click="toggleInfoBox()" class="glyphicon glyphicon-circle-arrow-right flip"></i>
<div id="info-box" class="add-info">
<div class="row" ng-repeat="property in filteredProperties = (properties | pidFilter: addInfo)" ng-show="property">
	<h4 class="col-sm-12">Bid Details: {{property.address}}</h4>
	<div class="row" >
	     <table class="table table-striped header-fixed">
	        <thead>
	          <tr>
	            <th>BID #</th>
	            <th>Category</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr ng-repeat="bid in filteredBids = (bids | bidFilter: addInfo)" ng-show="bid" ng-click="viewBidDetails(bid.bid_id)">
	            <td>{{bid.bid_id}}</td>
	            <td>{{bid.cat_name}}</td>
	          </tr>
	        </tbody>
	      </table>
	</div>
	</div>
</div>