<i id="info-box-switch" ng-click="toggleInfoBox()" class="glyphicon glyphicon-circle-arrow-right flip"></i>
<div id="info-box" class="add-info">
	<div class="row" ng-repeat="property in filteredProperties = (properties | pidFilter: addInfo)" ng-show="property">
	    <div class="row">
	    	<h4>Escrow Details: {{property.address}}</h4>
	    	<div class="col-sm-5 infobox-titles">
			  <ul>
				<li>Escrow Price:</li>
				<li>Offer Acceptance:</li>
				<li>Days in Escrow:</li>
				<li>Sale Close:</li>
				<li>DSP:</li>
				<li>DOM:</li>
			  </ul>
		   </div>
		   <div class="col-sm-7">
			  <ul>
				<li>{{property.escrow_price || 'Not Defined'}}</li>
				<li>{{property.offer_accept || 'Not Defined'}}</li>
				<li>{{property.escrow_days || 'Not Defined'}}</li>
				<li>{{property.sale_close_date || 'Not Defined'}}</li>
				<li>{{property.dsp || 'Not Defined'}}</li>
                <li>{{property.dom || 'Not Defined'}}</li>
			  </ul>
		   </div>
	    </div>
        <a ng-click="linkToSingle(property)">
		   <button class="btn btn-primary">View Escrow</button>
        </a>
	</div>
</div>