<app-header></app-header>
<div class="page-content login-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="login-box" class="login-box visible widget-box no-border">
                    <div class="widget-body clearfix">
                        <div class="widget-main">
                            <h4 class="page-header">Log in to Structured Capital</h4>
                            <br>
                            <form name="loginForm" class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="email"> Email</label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" placeholder="Email" name="email" ng-model="user.email" required focus/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="password"> Password </label>
                                    <div class="col-sm-7">
                                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span class="lbl col-sm-5"> </span>
                                    <div class="col-sm-5">
                                        <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                                            Log In
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </form>
                        </div><!-- /widget-main -->
                        <hr>
                        <div class="agent-enroll">
                            <h6>Are you a Real Estate Agent interested in seeing our properties or hosting an open house at one of our properties? <a ui-sref="enroll">Enroll Here</a></h6>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /login-box -->
            </div><!-- /position-relative -->
        </div>
    </div>
</div><!-- /.page-content -->
<app-footer></app-footer>