<app-header></app-header>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a ui-sref="listings">Listings</a>
        </li>
        <li><a ng-click="goToProperty()">{{s.address}}</a></li>
        <li class="active">New Offer</li>
    </ul>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-1">
                <h4>
                    Create a New Offer
                </h4>
                <br/>
                <form name="newOfferForm" class="form-horizontal" role="form" ng-submit="newOffer(offer)" latlng="obj">
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="buyer">Buyer</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Buyer" name="buyer" ng-model="offer.buyer" focus required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="financing">Financing</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="financing" placeholder="Financing" ng-model="offer.financing" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="closing">Closing</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="closing" placeholder="Closing" ng-model="offer.closing" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="deposit">Deposit</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="deposit" placeholder="$xxxxx" ng-model="offer.deposit" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="offer_price">Offer Price</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="offer_price" placeholder="$xxxxx" ng-model="offer.offer_price"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="comp">Comp</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="comp" placeholder="Comp" ng-model="offer.comp"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="ccnr">CCNRs</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="$xxxxx" name="ccnr" ng-model="offer.ccnr"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="counter">Counters/Adjustments</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="$xxxxx" name="counter" ng-model="offer.counter" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="title">Title</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Title" name="title" ng-model="offer.title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="escrow">Escrow</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Escrow" name="escrow" ng-model="offer.escrow"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="termite">Termite</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Termite" name="termite" ng-model="offer.termite"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="nhd">NHD</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="NHD" name="nhd" ng-model="offer.nhd"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="septic">Septic</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Septic" name="septic" ng-model="offer.septic"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="retrofit">Retrofit</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="Retrofit" name="retrofit" ng-model="offer.retrofit"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="co_fees">Co. Fees</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Co. Fees" name="co_fees" ng-model="offer.co_fees"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="city_fees">City Fees</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="City Fees" name="city_fees" ng-model="offer.city_fees"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="fico">FICO</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="FICO" name="fico" ng-model="offer.fico"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="pof">POF</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="POF" name="pof" ng-model="offer.pof"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="other_terms">Other Terms</label>
                        <div class="col-sm-8">
                            <textarea rows="4" cols="50" class="form-control" name="other_terms" ng-model="offer.other_terms"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label no-padding-right" for="notes">Notes</label>
                        <div class="col-sm-8">
                          <textarea rows="4" cols="50" class="form-control" name="notes" ng-model="offers.notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button id="form-submit-button" type="submit" class="pull-left col-sm-5 btn btn-lg btn-primary"  data-ng-disabled="newOfferForm.$invalid">
                                Add Bid
                            </button>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->
<app-footer></app-footer>