<app-header></app-header>
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a ui-sref="dashboard">Dashboard</a>
        </li>
        <li class="active">Add A User</li>
    </ul>
</div>
<div class="page-content">
  <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <h4 class="page-header">
              Add A User
          </h4>
          <br/>
          <div class="col-sm-8">
            <form name="signupForm" class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                    <div class="col-sm-7">

                            <input type="email" class="form-control" placeholder="Email" name="email" ng-model="signup.email" focus required/>
                            <span ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</span>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="password">Password</label>
                    <div class="col-sm-7">

                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="signup.password" required/>
                    <small class="errorMessage" data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter Password.</small>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="password2">Confirm Password</label>
                    <div class="col-sm-7">

                    <input type="password" class="form-control" name="password2" placeholder="Password Again" ng-model="signup.password2" password-match="signup.password" required/>
                    <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required"> Enter password again.</small>

                   <small class="errorMessage" data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required"> Password do not match.</small>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                    <div class="col-sm-7">

                    <input type="text" class="form-control" placeholder="Name" ng-model="signup.name" required/>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="phone">Phone</label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control" placeholder="Phone" name="phone" ng-model="signup.phone"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="user_role">User Role</label>
                    <div class="col-sm-7">
                        <input ng-click="hideGetType()" type="radio" name="user_role" value="1" ng-model="signup.user_role"> Admin<br>
                        <input ng-click="hideGetType()" type="radio" name="user_role" value="2" ng-model="signup.user_role"> Partner<br>
                        <input ng-click="getContractorType()" type="radio" name="user_role" value="3" ng-model="signup.user_role"> Contractor<br>
                        <input ng-click="hideGetType()" type="radio" name="user_role" value="4" ng-model="signup.user_role"> Agent
                    </div>
                </div>
                <div id="contractor_type" class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="Contractor Type">Contractor Type</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="Contractor Type" ng-model="signup.contractor_type"/>
                            <option ng-repeat="type in categories" value="{{type.cat_name}}">{{type.cat_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="entity">Entity Affiliation (if applicable)</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="entity" ng-model="signup.entity"/>
                            <option value="HEF Inc.">HEF Inc.</option>
                            <option value="SC Inc.">SC Inc.</option>
                            <option value="NLP Inc.">NLP Inc.</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <span class="lbl col-sm-5"> </span>
                    <div class="col-sm-7">
                        <button type="submit" class="pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                            Add User
                        </button>
                    </div>
                </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div><!-- /.page-content -->
<app-footer></app-footer>