<div class="form-group pull-right">
  <button ng-click="newBid(s.pid)" class="btn btn-primary pull-right">
    Create New Bid
  </button>
</div>
<div class="bids">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <h3 class="col-sm-6">Open Bids</h3>
        <h3 class="col-sm-6">Rehab Total: {{rehab_total | currency:'$':0}}</h3>
      </div>
      <div class="row" ng-show="!open.length">
        <p>There are currently no open bids for this property.</p>
      </div>
      <div ng-show="open.length">
        <table class="table table-bordered table-responsive header-fixed table-hover">
          <thead>
            <tr>
              <th>BID #</th>
              <th>Section</th>
              <th>Bid Total</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="bid in open | unique:'bid_num'" ng-click="viewBidDetails(s.pid,bid.bid_num)">
              <td>{{bid.bid_num}}</td>
              <td>{{bid.name}}</td>
              <td>{{bid.bid_total_cost | currency:'$':2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>