<div ng-show="offer == null">
  <h4 class="top-buffer20">You have not accepted an offer for this property. Please visit the offers page and accept an offer.</h4>
  <button class="btn btn-primary col-xs-3 top-buffer20" ui-sref="properties.property.offers">
     View Offers
  </button>
</div>
<div ng-hide="offer == null">
  <div class="row top-buffer20">
    <h5 class="col-sm-3">
      Escrow Price: {{s.escrow_price | currency:'$':0}}
    </h5>
    <h5 class="col-sm-3">
      Offer Acceptance: {{s.offer_accept}}
    </h5>
    <h5 class="col-sm-3">
      Days in Escrow: {{s.escrow_days}}
    </h5>
    <h5 class="col-sm-3">
      Sale Close Date: <input type="date" class="invisible-form" ng-model="s.sale_close_date" ng-change="changePropValue('sale_close_date',s.sale_close_date);">
    </h5>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="section-header">
          <h4><i ng-click="toggle($event)" id="escrow" class="glyphicon glyphicon-minus table-toggle"></i>Escrow Details</h4>
        </div>
        <div id="escrow-table" class="row">
          <div class="col-sm-6">
            <table class="table table-striped table-bordered">
              <tbody>
                <tr>
                  <td>Buyer</td>
                  <td>{{offer.buyer}}</td>
                </tr>
                <tr>
                  <td>Financing</td>
                  <td>{{offer.financing}}</td>
                </tr>
                <tr>
                  <td>Closing</td>
                  <td>{{offer.closing}}</td>
                </tr>
                <tr>
                  <td>Deposit</td>
                  <td>{{offer.deposit | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>Offer Price</td>
                  <td>{{offer.offer_price | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>Commission</td>
                  <td>{{((offer.offer_price*1) * (proforma.commission_percent/100)).toFixed(0) | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>Closing Costs</td>
                  <td>{{offer.closing_costs | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>Counter</td>
                  <td>{{offer.counter | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>HOA</td>
                  <td>{{offer.hoa | currency:'$':0}}</td>
                </tr>
                <tr>
                  <td>Home Warranty</td>
                  <td>{{offer.home_warranty | currency:'$':0}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr class="success">
                  <td>Net Offer</td>
                  <td>{{((offer.offer_price*1) - (offer.commission*1) - (offer.closing_costs*1) + (offer.counter*1)).toFixed(0) | currency:'$':0}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-sm-6">
            <table class="table table-striped  table-bordered">
              <tbody>
                <tr>
                  <td>Title</td>
                  <td>{{offer.title}}</td>
                </tr>
                <tr>
                  <td>Excrow</td>
                  <td>{{offer.escrow}}</td>
                </tr>
                <tr>
                  <td>Termite</td>
                  <td>{{offer.termite}}</td>
                </tr>
                <tr>
                  <td>NHD</td>
                  <td>{{offer.nhd}}</td>
                </tr>
                <tr>
                  <td>Septic</td>
                  <td>{{offer.septic}}</td>
                </tr>
                <tr>
                  <td>Co. Fees</td>
                  <td>{{offer.co_fees}}</td>
                </tr>
                <tr>
                  <td>City Fees</td>
                  <td>{{offer.city_fees}}</td>
                </tr>
                <tr>
                  <td>FICO</td>
                  <td>{{offer.fico}}</td>
                </tr>
                <tr>
                  <td>POF</td>
                  <td>{{offer.pof}}</td>
                </tr>
                <tr>
                  <td>Other Terms</td>
                  <td>{{offer.other_terms}}</td>
                </tr>
                <tr>
                  <td>Notes</td>
                  <td>{{offer.notes}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr class="col-xs-12">
  </div>
  <div class="row">
    <h4>Forms</h4>
    <div class="checkbox"  ng-repeat="(k,v) in forms">
      <label class="col-sm-2 forms">
          <input type="checkbox" name="v" ng-model="v" ng-change="saveEscrowForm(s.pid,k,v)"> {{k}}
      </label>
    </div>
    <hr class="col-xs-12">
  </div>
  <div class="progress-box row clearfix" ng-repeat="(key,value) in progress">
    <h3>{{value.label}}</h3>
    <div class="checkbox col-sm-2" ng-repeat="(k,v) in value.tasks">
        <label class="checkbox">
        <input type="checkbox" name="v.label" ng-change="saveEscrowChanges(s.pid,key,k,v,v.status)" ng-model="v.status"> {{v.label}}
      </label>
      <div class="task-date" ng-show="v.date">
        <input type="date" name="task.date" ng-model="v.date" ng-change="saveEscrowChanges(s.pid,key,k,v,v.date)">
      </div>
      <div class="home-inspect" ng-show="v.inspection">
        <input ng-click="saveEscrowChanges(s.pid,key,k,v,v.inspection)" type="radio" name="inspection" value="yes" ng-model="v.inspection"> Yes 
        <input ng-click="saveEscrowChanges(s.pid,key,k,v,v.inspection)" type="radio" name="inspection" value="no" ng-model="v.inspection"> No 
      </div>
    </div>
    <hr class="col-xs-12">
  </div>
</div>