<html>
<body style="font-family:Helvetica,Arial,sans-serif">
	<!-- Top Image -->
	<div style="width: 100%;height:300px;max-height:300px;overflow:hidden">
		<img style="width: 100%; height: auto;margin-top:-100px;" src="http://www.structuredcapital.net/server/v1/uploads/316003473.jpg">
	</div>
	<!-- Listing Desc -->
	<div>
		<h1 style="font-weight:300">PRE-MLS Listing!</h1>
		<h2>2769 Ladera Road, <br>San Bernardino, CA 92405</h2>
		<p style="max-width:550px">Newly remodeled home on a large lot. Come take a look at this great looking three bedroom, one bath home. Upgrades include new wood laminate floors throughout shared areas, new kitchen cabinets with quartz counter-tops, under-mount sink, and stainless steel look stove &amp; microwave. Central heating &amp; Air! Allbedrooms have new flooring and ceiling fans, tile surroundstub/shower in bathroom. Large front and backyard. Great tree lined street neighboorhood.</p>
	</div>
	<div>
		<h1>Features</h1>
		<p style="max-width:550px">Newly remodeled home on a large lot. Come take a look at this great looking three bedroom, one bath home. Upgrades include new wood laminate floors throughout shared areas, new kitchen cabinets with quartz counter-tops, under-mount sink, and stainless steel look stove &amp; microwave. Central heating &amp; Air! Allbedrooms have new flooring and ceiling fans, tile surroundstub/shower in bathroom. Large front and backyard. Great tree lined street neighboorhood.</p>
	</div>
	<div>
		<h1>Attributes</h1>
		<p style="max-width:550px">Newly remodeled home on a large lot. Come take a look at this great looking three bedroom, one bath home. Upgrades include new wood laminate floors throughout shared areas, new kitchen cabinets with quartz counter-tops, under-mount sink, and stainless steel look stove &amp; microwave. Central heating &amp; Air! Allbedrooms have new flooring and ceiling fans, tile surroundstub/shower in bathroom. Large front and backyard. Great tree lined street neighboorhood.</p>
	</div>
	<div>
		<h1>Photos</h1>
		<p style="max-width:550px">Newly remodeled home on a large lot. Come take a look at this great looking three bedroom, one bath home. Upgrades include new wood laminate floors throughout shared areas, new kitchen cabinets with quartz counter-tops, under-mount sink, and stainless steel look stove &amp; microwave. Central heating &amp; Air! Allbedrooms have new flooring and ceiling fans, tile surroundstub/shower in bathroom. Large front and backyard. Great tree lined street neighboorhood.</p>
	</div>
</body>
</html>