<div class="proforma">
  <div class="row">
    <div class="form-group edit-property-btn col-sm-12">
      <button id="projected" class="btn btn-primary col-xs-4" ng-click="setProjected(proforma)">
       Set Projected
      </button>
      <button id="live" class="btn btn-primary col-xs-4" ng-click="seeLive()">
       Live
      </button>
      <button id="actual" class="btn btn-primary col-xs-4" ng-click="setActual(proforma)">
       Set Actual
      </button>
    </div>
  </div>
  <ui-view></ui-view>
</div>